.container {
  height: 90vh;
  display: flex;
}

.right {
  background-color: var(--green);
  width: 50vw;
  height: 100%;
  padding: 5%;
}

.container h1 {
  font-size: 8rem;
  line-height: 1;
  letter-spacing: 2px;
  color: var(--yellow);
}

.container h1 em {
  color: var(--white);
}

.container hr {
  background-color: var(--white);
  height: 1vh;
  border-radius: 50px;
  margin-top: 2.2rem;
}

.right div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.2rem;
  margin-top: 10%;
}

.container div > span {
  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem;
  border-radius: 5px;
  width: 12rem;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container div > span:nth-of-type(even) {
  background-color: var(--red);
}

.container div > span:nth-of-type(odd) {
  background-color: var(--yellow);
}

.left {
  width: 50%;
  background-color: var(--yellow);
  height: 100%;
  padding: 6rem 8rem;
}

.pizza {
  rotate: -60deg;
  width: 80%;
  height: auto;
}

.pizzaSlices {
  width: 70%;
  height: auto;
}

.fullHeight {
  height: 100vh;
}

.container h2 {
  font-size: 4.8rem;
  margin: 4rem 0 2rem;
  color: var(--yellow);
}

.cta {
  background-color: var(--red);
  margin-top: 2.4rem;
  color: var(--white);
}

/* UTILITIES */
.fullHeight p {
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--white);
}

.btn {
  border: none;
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  border-radius: 50px;
  font-weight: 700;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1420px) {
  .pizza,
  .pizzaSlices {
    width: 100%;
  }

  .right {
    padding: 10%;
  }
}

@media screen and (max-width: 1160px) {
  .right,
  .left {
    height: 110vh;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    height: max-content;
  }

  .right,
  .left {
    width: 100vw;
    height: 75vh;
    /* padding: 5%; */
  }
  .pizza,
  .pizzaSlices {
    width: 50%;
  }
  .container:nth-of-type(odd) {
    flex-direction: column;
  }
  .container:nth-of-type(even) {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 770px) {
  .container h1 {
    font-size: 7rem;
  }
  .pizza,
  .pizzaSlices {
    width: 80%;
  }
}

@media screen and (max-width: 520px) {
  .pizza,
  .pizzaSlices {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .right,
  .left {
    height: 80vh;
  }
  .pizza,
  .pizzaSlices {
    width: 140%;
  }
}
