* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

:root {
  --orange: #ffb100;
  --yellow: #fbc252;
  --white: #f0eccf;
  --light-white: #ebe9dd63;
  --green: #a3bb98;
  --red: #e95858;
}

html {
  font-size: 62.5%;
}
